---
layout: modern
permalink: /
title: ""
description: "Yogesh Kumar is a researcher in multimodal AI and video understanding at Dolby Laboratories, previously at IIT Jodhpur."
redirect_from:
  - /about/
  - /about.html
---
{% include modern/hero.html %}
{% include modern/news.html %}
{% include modern/publications.html %}
{% include modern/code.html %}
{% include modern/experience.html %}
{% include modern/education.html %}
{% include modern/recognition.html %}
{% include modern/teaching.html %}
{% include modern/service.html %}
{% include modern/talks.html %}
