---
layout: modern
title: "CV"
permalink: /cv/
redirect_from:
  - /resume
---
<section class="wrap pagehead">
  <h1>Curriculum vitae</h1>
  <p><a class="button" href="/files/Yogesh_s_Resume.pdf">Download the PDF</a></p>
</section>
{% include modern/experience.html %}
{% include modern/education.html %}
{% include modern/publications.html %}
{% include modern/code.html %}
{% include modern/recognition.html %}
{% include modern/teaching.html %}
{% include modern/service.html %}
{% include modern/talks.html %}
