<section class="wrap sec" id="education" aria-labelledby="edu-h">
  <h2 id="edu-h">Education</h2>
  <div class="sec-body">
    <ul class="rows">
      {% for e in site.data.cv.education %}
      <li>
        <p class="when">{{ e.dates }}</p>
        <div>
          <h3>{{ e.degree }}</h3>
          <p class="org">{{ e.school }}</p>
          {% if e.details %}
          <ul class="plain">
            {% for d in e.details %}<li>{{ d }}</li>{% endfor %}
          </ul>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
