<section class="hero wrap" id="about">
  <div class="hero-text">
    <h1>{{ site.author.name }}</h1>
    <p class="role">Senior Researcher at Dolby Laboratories, Bengaluru</p>
    <p>I work on video understanding: helping models find where, how, and when something happens in a video, given a query in text, an image, or another video. I recently joined the Advanced Technology Group at <a href="https://www.dolby.com/">Dolby Laboratories</a>, where I work on multimodal AI and long-form video understanding.</p>
    <p>Before this, I did my M.Tech and PhD at <a href="https://iitj.ac.in/">IIT Jodhpur</a> in the Vision, Language, and Learning Group (<a href="https://vl2g.github.io/">VL2G</a>), where I was fortunate to be advised by <a href="https://anandmishra22.github.io/">Dr. Anand Mishra</a>. My thesis looked at grounding objects, relationships, and actions in videos with limited supervision. Earlier, I studied computer science at the <a href="https://cs.du.ac.in/">University of Delhi</a>, where I worked on text summarization with <a href="https://people1.du.ac.in/~vbhatnagar/">Prof. Vasudha Bhatnagar</a>.</p>
    <ul class="contact">
      <li><a href="mailto:{{ site.author.email }}">Email</a></li>
      <li><a href="{{ site.author.googlescholar }}">Google Scholar</a></li>
      <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
      <li><a href="{{ site.author.LinkedIn }}">LinkedIn</a></li>
      <li><a href="{{ site.author.orcid }}">ORCID</a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a></li>
    </ul>
  </div>
  <img class="portrait" src="/images/{{ site.author.avatar }}" alt="Portrait of {{ site.author.name }}" width="800" height="1000">
</section>
