<section class="wrap sec" id="teaching" aria-labelledby="teach-h">
  <h2 id="teach-h">Teaching</h2>
  <div class="sec-body">
    <h3 class="sub">Teaching assistant, IIT Jodhpur</h3>
    <table class="courses">
      <thead><tr><th scope="col">Course</th><th scope="col">Term</th><th scope="col">Instructor</th></tr></thead>
      <tbody>
        {% for t in site.data.cv.teaching %}
        <tr><td>{{ t.course }}</td><td>{{ t.term }}</td><td>{{ t.instructor }}</td></tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="sub">Tutorial</h3>
    <p>{{ site.data.cv.tutorial }}</p>
  </div>
</section>
