---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  {% include google_analytics.html %}
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      .news-scroll {
        height: 560px; /* increased height to accommodate 2 more news items */
        overflow-y: scroll;
        border: 1px solid transparent; /* make the border transparent */
        padding: 10px;
      }
    </style>


  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
